* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  header {
    background-color: #1e1e1e;
    
    text-align: center;
    color: white;
    
  }
  
  li{
    display: inline-block;
    margin: 3rem;
    font-size: 30px;
  }
  .disney{
    width: 100%;
    height:100%;
    
  }

  img{
    width: 250px
  }

  figure{
    display: inline-block;
    margin-left: 90px;
    
  }

  
 .primeiro{
    margin:2rem;
    padding: 2rem;
    margin-left: 50px;
 
    
 }

 .segundo{
    margin:2rem;
    
    padding-left: 50px;
    
 }

 footer {
  text-align: center;
  height: 100px;
  background-color: #1e1e1e;
  
 }

footer p{
  padding-top: 40px;
  font-size: 20px;
  color: aliceblue;
}
 